* {
    font-size: 13px;
    border: none;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: rgba(0, 0, 0, 0);
}

#workspaces {
    color: #ffffff;
    margin-left: 15px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 10px 0px 10px 0px;
}

#workspaces button {
    padding: 4px 12px;
    margin: 0;
    color: rgb(85,85,85);
    text-shadow: inherit;
    border-radius: inherit;
    transition: padding .3s;
}

#workspaces button:hover {
    background: rgb(214, 214, 214);
    border-radius: inherit;
}

#workspaces button.active {
    padding: 4px 24px;
    color: #ffffff;
    background: rgb(255,213,252);
    background: linear-gradient(65deg, rgba(255,213,252,1) 20%, rgba(205,152,255,1) 45%);
    border-radius: inherit;
}

#workspaces button.urgent {
    background: #eb4d4b;
}

#window {
    background: rgb(15, 15, 15);
    padding: 0px 12px;
    margin: 0px 5px;
    min-width: 200px;
    border-radius: 8px;
    color: rgb(85,85,85);
    background: rgba(255,213,252,1);
}

#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#clock,
#cava,
#battery,
#power-profiles-daemon,
#tray {
    padding: 0px 10px;
    margin: 0px 5px;
    border-radius: 0px 10px 0px 10px;
    color: rgb(85,85,85);
    background: rgba(255,213,252,1);
}

#cava {
}

#pulseaudio {
}

#network {
}

#cpu {
}

#memory {
}

#temperature {
}

#clock {
}

#tray {
    margin-right: 15px;
    background: rgb(255,213,252);
    background: linear-gradient(90deg, rgba(255,213,252,1) 0%, rgba(173,145,171,1) 25%);
}
